[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flask-cors = "*"

[packages]
azure = "==4.0.0"
celery = "*"
fire = "*"
flask = "*"
flask-jwt-extended = "*"
flask-restful = "*"
gunicorn = "*"
passlib = "*"
pillow = "*"
pymongo = "*"
python-dateutil = "*"
pyyaml = "*"

[requires]
python_version = "3.6"
