[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flask-cors = "*"

[packages]
flask = "*"
pyyaml = "*"
gunicorn = "*"
celery = "*"
flask-restful = "*"
flask-jwt-extended = "*"
passlib = "*"
pymongo = "*"
azure = "==4.0.0"
fire = "*"
pillow = "*"
python-dateutil = "*"

[requires]
python_version = "3.6"
