[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
pyyaml = "*"
pymongo = "*"
gunicorn = "*"
celery = "*"
flask-restful = "*"
flask-jwt-extended = "*"
passlib = "*"

[requires]
python_version = "3.6"
